
name: build(wheel)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'main'
        description: 'Package version'
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get Version
        run: |
          if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ inputs.version }}" = "latest" ]; then
            version=$(curl -s "https://api.github.com/repos/milvus-io/milvus-lite/releases/latest" | jq -r .tag_name)
          else
            version=${{ inputs.version }}
          fi
          if [ -z "${version}" ] || [ "${version}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi

          echo "version=${version}" >> $GITHUB_ENV
          echo ""
          echo "========== Build Args =========="
          echo "version=${version}"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build wheel
        run: |
          docker run --rm \
            --platform linux/loong64 \
            -v $(pwd)/dist:/workspace/dist \
          ghcr.io/${{ github.repository_owner }}/build_milvus_lite:latest \
          /workspace/build_milvus_lite.sh ${version}

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: milvus-lite-${{ env.version }}-wheel
          path: dist


          
