name: build-custom (milvus-lite)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true

jobs:
  build_wheels:
    name: Build ${{ matrix.arch }} wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-24.04' ]
        arch: [ 'loongarch64' ]
        build: [ "manylinux_" ]


    steps:
      - name: Get Source Code
        run: |
          package=milvus-lite
          if [ "${{ github.event_name }}" = "schedule" ]; then
            version="latest"
          else
            version=${{ github.event.inputs.version }}
          fi
          if [ "$version" = "latest" ]; then
            version=$(curl -sSL "https://pypi.org/pypi/${package}/json" | jq -r '.info.version')
          fi
          echo "Building package: ${package} version: ${version}"
          echo "PIP_EXTRA_INDEX_URL=https://gitlab.com/api/v4/projects/65746188/packages/pypi/simple" >> $GITHUB_ENV

          echo "version=v${version}" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build wheel
        run: |
          docker run --rm \
            --platform linux/loong64 \
            --env RUNNER_ARCH \
            --env CC="/opt/clang/bin/clang" \
            --env CXX="/opt/clang/bin/clang++" \
            --env LDFLAGS="-fuse-ld=lld" \
            -v $(pwd)/wheelhouse:/workspace/dist \
          ghcr.io/${{ github.repository_owner }}/build_milvus_lite:latest \
          bash -c "curl -sSL https://github.com/loong64/static-clang-build/raw/refs/heads/main/install-static-clang.sh | bash && /workspace/build_milvus_lite.sh ${version}"

      - name: Check wheel
        run: |
          ls -al wheelhouse/

